footer {
    display: flex;
    gap: 1.5rem;
    padding-block: 1.5rem;

    font: .875rem/1.5 var(--font-family);
}

/* footer span:nth-child(1) {
    margin-right: auto;
} */

footer span:nth-child(2) {
    margin: auto;
}