nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 1.25rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding-block: .5rem;
}

nav ul li:last-child img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%
}